<widget id="A6041052484125" version="0.0.1">

    <name>城宿app</name>

    <description>

        Example For APICloud.

    </description>

    <author email="developer@apicloud.com" href="http://www.apicloud.com">

        Developer

    </author>

     <content src="index.html"/>
<!--    <content src="html\home\bookhotel.html"/>-->

    <access origin="*"/>

    <preference name="pageBounce" value="false"/>

    <preference name="appBackground" value="rgba(0,0,0,0.0)"/>

    <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>

    <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>

    <preference name="hScrollBarEnabled" value="false"/>

    <preference name="vScrollBarEnabled" value="false"/>

    <preference name="autoLaunch" value="true"/>

    <preference name="fullScreen" value="false"/>

    <preference name="autoUpdate" value="true"/>

    <preference name="smartUpdate" value="false"/>

    <preference name="debug" value="true"/>

    <preference name="statusBarAppearance" value="true"/>

    <permission name="readPhoneState"/>

    <permission name="camera"/>

    <permission name="record"/>

    <permission name="location"/>

    <permission name="fileSystem"/>

    <permission name="internet"/>

    <permission name="bootCompleted"/>

    <permission name="hardware"/>

    <!--状态栏沉浸-->
    <preference name="iOS7StatusBarAppearance" value="true"/>
    <preference name="statusBarAppearance" value="true"/>

    <!--GaodeMap Key-->
    <feature name="aMapLBS">
        <!---Android-->
        <param name="android_api_key" value="cbfe52fe8fa3cbc85f9396dce0828bb9"/>
        <!--<param name="android_api_key" value="5cf58e7d1f4b1ba7530407d919571ea5"/>-->
        <!--IOS-->
        <param name="ios_api_key" value="fe280e430d991d5543bf1385c21a4058"/>
        <!--<param name="ios_api_key" value="fe280e430d991d5543bf1385c21a4058"/>-->
    </feature>

</widget>
