<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>酒店列表</title>
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/hotellist.css">
    <style>
        .search-check-in {
            width: 0.48rem;
        }

        .search-check-in img {
            width: 100%;
        }

        .current-city {
            padding: 0 0.4rem 0.28rem;
        }

        .current {
            display: flex;
            align-items: center;
            margin-bottom: 0.32rem;
        }

        .title-color {
            width: 0.08rem;
            height: 0.34rem;
            border-radius: 99px;
            background-color: var(--c);
            margin-right: 0.16rem;
        }

        .title {
            color: #212121;
            font-size: 0.34rem;
            font-weight: 600;
        }

        .city {
            display: inline-block;
            padding: 0.12rem 0.32rem;
            margin: 0 0.48rem 0.24rem 0;
            background: #F4F7FF;
            border-radius: 2px;
        }

        .city-font {
            font-size: 0.28rem;
        }

        .city-mr {
            margin-left: 0.24rem;
        }

        .deleteImg {
            width: 0.32rem;
        }

        .deleteImg img {
            width: 100%;
        }

        .current-search {
            display: flex;
            align-items: center;
        }

        .current-flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="head-search dash">
            <section @click="goBackHandler" class="search-icon"><img src="../../image/icon/arrow-left.png" alt="">
            </section>
            <section class="search-input"><img @click="searchValue" src="../../image/home/search.png" alt=""><input type="text"
                    placeholder="关键字/品牌/酒店名" autofocus v-model="keywordvalue"></section>
            <section class="search-time">

                <div class="search-check-in" v-show="showImg"><img src="../../image/icon/cancel.png" alt=""></div>
            </section>
        </div>

        <main>
            <div class="current-city">
                <div class="current current-flex">
                    <div class="current-search">
                        <div class="title-color"></div>
                        <div class="title">搜索历史</div>
                    </div>

                    <div class="deleteImg" @click="deleteSearch">
                        <img src="../../image/icon/delete.png" alt="">
                    </div>

                </div>
                <div class="city city-font city-mr" v-for="(item,index) in searchLog" :key="index">{{item.keyword}}</div>
            </div>

            <div class="current-city">
                <div class="current">
                    <div class="title-color"></div>
                    <div class="title">热门搜索</div>
                </div>
                <div class="city city-font city-mr" v-for="(item,index) in hotSearch" :key="index" @click="hotValue(item)">{{item.keyword}}
                </div>
            </div>

            <div class="current-city">
                <div class="current">
                    <div class="title-color"></div>
                    <div class="title">酒店品牌</div>
                </div>
                <div class="city city-font city-mr" v-for="(item,index) in brandSearch" :key="index" @click="brandValue(item)">{{item.brand_name}}</div>
            </div>
        </main>

    </div>

    <script src="../../script/api.js"></script>
    <script src="../../script/vue.js"></script>
    <script src="../../script/index.js"></script>
    <script>
        ApiRender(function ({
            openWin,
            closeWin,
            post,
            showToast,
            PageHelper,
        }) {
            new Vue({
                el: ".container",

                data() {
                    return {
                        showImg: false,
                        hotSearch: null,
                        brandSearch: null,
                        pageHelper: null,

                        // lon:api.pageParam.lon,
                        // lat:api.pageParam.lat,
                        // cityCode:api.pageParam.cityCode,
                        // firstDate:api.pageParam.firstDate,
                        // secondDate:api.pageParam.secondDate,

                        type:0,
                        startPrice:null,
                        endPrice:null,
                        starLv:null,
                        distance:null,
                        areaCodes:null,
                        brand:null,
                        facilityService:null,
                        keywordvalue:null,
                        searchLog:null,
                    }
                },
                mounted() {
                    this.getHotSearch();
                    // this.pageHelper = new PageHelper(1,10,(pageIndex, pageSize) => this.getHotelList(pageIndex, pageSize));
                    // this.pageHelper.next()

                    // console.log(this.firstDate)
                    // console.log(this.secondDate)
                    // console.log(this.cityCode)
                },

                methods: {
                    goBackHandler() {
                        closeWin()
                    },

                    //点击跳转
                    hotValue(e){
                          openWin('hotellist',"widget://html/home/hotellist.html",{
                            keywordvalue:e.keyword
                          })
                    },

                    brandValue(e){
                        openWin('hotellist',"widget://html/home/hotellist.html",{
                            keywordvalue:e.brand_name
                          })
                    },

                    searchValue(){

                        openWin('hotellist',"widget://html/home/hotellist.html",{
                            keywordvalue:this.keywordvalue
                          })
                    },

                    //搜索历史
                    getSearchLog(){
                        post(`/api/cs/hotel/searchLog`,null,(res,err)=>{
                            if (err || res.code !== 200) {
                                showToast('暂无信息', 2000)
                                return
                            }  
                            this.searchLog  = res.data.query
                        })
                    }, 


                    // 热门搜索，品牌
                    getHotSearch() {
                        post(`/api/cs/hotel/hotSearch`, null, (res, err) => {
                            if (err || res.code !== 200) {
                                showToast('暂无信息', 2000)
                                return
                            }        
                            this.hotSearch = res.data.hot;
                            this.brandSearch = res.data.brand;
                        })
                    },

                    // 删除搜索
                    deleteSearch(){
                        post(`/api/cs/hotel/deleteSearchLog`,null,(res,err)=>{
                            console.log(JSON.stringify(res))
                            if(err || res.code !== 200){
                                showToast('删除失败',1000)
                                return
                            }

                            if(res.code === 200){
                                showToast('删除成功',1000)
                            }
                            
                        })
                    },
                    
                    //  getHotelList(pageIndex,pageSize){
                    //     post(`/api/cs/hotel/lsit`,{
                    //         lon : 104.070822,         // this.lon
                    //         lat : 30.58196,          // this.lat
                    //         cityCode: this.cityCode,
                    //         type : this.type ,                //排序方式 0智能排序(默认),1 星级从高到低,2 星际从低到高,3 距离优先,4 价格从低到高,5 价格从高到低
                    //         startPrice:null,          //最小价格
                    //         endPrice:null,              //最大价格
                    //         starLv:null,                //多选星级 2 低星,3 三星, 4 四星, 5 五星\|\| 用逗号拼接  2,5,3
                    //         distance:null,              //离 0 就是全城 其他就是实际距离 M单位
                    //         areaCodes:null,             //区域字符串 逗号拼接
                    //         brand:null,                 //品牌字符串 逗号拼接
                    //         facilityService:null,       //设施服务 逗号拼接
                    //         keyword:this.keywordvalue,               //关键字
                    //         join_time:this.firstDate, //开始时间
                    //         out_time:this.secondDate, //结束时间
                    //         pageIndex:pageIndex ,
                    //         pageSize:pageSize,
                    //     },(res,err)=>{
                    //         if(err){
                    //             showToast('酒店获取失败',2000)
                    //             return
                    //         }
                    //         if(res.code !== 200){
                    //             showToast('酒店获取失败',2000)
                    //             return
                    //         }
                    //         if(res.code === 200){
                    //             this.hotelList = res.data.query
                    //         }

                    //     })
                    // },

                },
            })

        })
    </script>
</body>

</html>